// COLORS
$base-color: #020227;
$subbase-color: rgba(255, 255, 255, .15);
$text-color: #edfff1e6;
$text-shadow: 0px 1px 1px rgba(255, 0, 0, .8), 1px 0px 1px rgba(0, 128, 0, .8);
$text-shadow-invert: 0px -1px 1px rgba(255, 0, 0, 0.8), -1px 0px 1px rgba(22, 121, 38, 0.8);